body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    
}

h3.description {
    color: rgb(89, 83, 83);
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 110px;
    left: 40px;
    
}

.rating-container {
    display: flex;
    background-color: rgb(23, 22, 22);
    height: 500px;
    width: 600px;
    border-radius: 30px;
    
}

.title {
    color: white;
}

.ratings {
    display: flex;
    color: rgb(89, 83, 83);
}

button {
    position: relative;
    top: 20px;
    background-color: orange;
    height: 50px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
}

img {
    position: relative;
    top: -190px;
    left: 50px;
}